<div [formGroup]="formName">
  <div *ngIf="!editMode">
    <ion-item-sliding >
      <ion-item lines="none">
        <ion-label>{{label}}</ion-label>
        <ion-label>{{val}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editMode=true"
          >Edit
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
  <div *ngIf="editMode">
    <ion-item>
      <ion-label position="floating">{{label}}</ion-label>
      <ion-input
        clearInput
        [(ngModel)]="val"
        (ngModelChange)="valChange.emit($event)"
        [formControlName]="controlName"
      ></ion-input>
    </ion-item>
  </div>
</div>
