<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{board.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!isInitialzing">
        <ion-list *ngFor="let pin of board.pins">
            <ion-item *ngIf="!pin.loopEnabled">
                <ion-label>{{pin.name}}</ion-label>
                <ion-button size="large" (click)="pinStateChanged(pin.number,STATE.low)">On</ion-button>
                <ion-button size="large" color="danger" (click)="pinStateChanged(pin.number,STATE.high)">Off
                </ion-button>

            </ion-item>
            <ion-item *ngIf="pin.loopEnabled" [routerDirection]="'forward'"
                [routerLink]="'/digital/'+boardId +'/'+pin.number">
                <ion-label>{{pin.name}} Details</ion-label>
            </ion-item>
        </ion-list>

    </div>
</ion-content>