<div *ngIf="withModal">
    <ion-toolbar color="primary">
        <ion-title>{{withModal.name}}</ion-title>
        <ion-button slot="end" (click)="dismiss()" color="light">Close</ion-button>
    </ion-toolbar>

    <ion-content *ngTemplateOutlet='card'>

    </ion-content>
</div>

<div *ngIf="!withModal">
    <div *ngTemplateOutlet='card'></div>
</div>

<ng-template #card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{pinDetails.name || 'Digital Read'}}</ion-card-title>
            <ion-card-subtitle>{{pinDetails.number}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button expand="full" color="secondary" (click)="read()">Check
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <div [ngSwitch]="pinDetails.value" style="margin-top: 0.8rem">
                            <ion-badge *ngSwitchCase="STATE.low" color="success">Low</ion-badge>
                            <ion-badge *ngSwitchCase="STATE.high" color="warning">High</ion-badge>
                            <ion-badge *ngSwitchDefault color="medium">Unknown</ion-badge>
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ng-template>