<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{homeId === 'new' ? 'Add':'Edit'}} Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="homeId ==='new'">
    <form [formGroup]="newHomeForm" (ngSubmit)="addNewHome()">
      <ion-item>
        <ion-label position="floating">Enter Home Name</ion-label>
        <ion-input
          clearInput
          [(ngModel)]="home.name"
          formControlName="homeName"
        ></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="newHomeForm.invalid" expand="full"
        >Submit</ion-button
      >
    </form>
  </div>
  <div *ngIf="homeId !=='new'">
    <form [formGroup]="existingHomeForm">
      <app-editable-input
        [formName]="existingHomeForm"
        [(val)]="home.name"
        [label]="'Home Name'"
        [controlName]="'homeName'"
      ></app-editable-input>

      <ion-button
        (click)="editExistingHome()"
        [disabled]="existingHomeForm.invalid"
        expand="full"
        >Submit</ion-button
      >
    </form>

    <ion-list>
      <ion-list-header>
        <ion-label>Rooms</ion-label>
      </ion-list-header>
    </ion-list>
    <div *ngFor=" let room of rooms">
      <ion-item-sliding>
        <ion-item>
          <ion-label>{{room.name}}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option
            [routerDirection]="'forward'"
            [routerLink]="'room/'+room.id"
            expand="full"
            color="warning"
            >Edit</ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <ion-button
      color="light"
      [routerDirection]="'forward'"
      [routerLink]="'room/new'"
      expand="full"
    >
      Add Rooms</ion-button
    >
    <ion-list>
      <ion-list-header>
        <ion-label>Bolt Devices</ion-label>
      </ion-list-header>
      <div *ngFor="let bolt of bolts">
        <ion-item-sliding>
          <ion-item>
            <ion-label>{{bolt.productName}}</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option
              [routerDirection]="'forward'"
              [routerLink]="'bolt/'+bolt.id"
              expand="full"
              color="warning"
              >Edit</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
    <ion-button
      color="light"
      [routerDirection]="'forward'"
      [routerLink]="'bolt/new'"
      expand="full"
    >
      Add Bolts</ion-button
    >
  </div>
</ion-content>
