<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Boards
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Enter Basic Info</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label position="stacked">Board Name</ion-label>
                <ion-input clearInput [(ngModel)]="board.name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Bolt Product Name</ion-label>
                <ion-input clearInput [(ngModel)]="board.boltProductName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Bolt Api Key</ion-label>
                <ion-input clearInput [(ngModel)]="board.apiKey"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Description</ion-label>
                <ion-input clearInput [(ngModel)]="board.description"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Enter Pin Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div *ngFor="let pin of board.pins;index as j">
                <ion-item>
                    <ion-label position="stacked">Pin Name</ion-label>
                    <ion-input (input)="pinName(pin)" [(ngModel)]="pin.name"></ion-input>
                </ion-item>

                <ion-select *ngIf="pin.name" [(ngModel)]="pin.number" placeholder="Select Pin">
                    <ion-select-option *ngIf="!isPinTaken(pinDetails.zero)" [value]="pinDetails.zero">Zero
                    </ion-select-option>
                    <ion-select-option *ngIf="!isPinTaken(pinDetails.one)" [value]="pinDetails.one">One
                    </ion-select-option>
                    <ion-select-option *ngIf="!isPinTaken(pinDetails.two)" [value]="pinDetails.two">Two
                    </ion-select-option>
                    <ion-select-option *ngIf="!isPinTaken(pinDetails.three)" [value]="pinDetails.three">Three
                    </ion-select-option>
                    <ion-select-option *ngIf="!isPinTaken(pinDetails.four)" [value]="pinDetails.four">Four
                    </ion-select-option>
                    <ion-select-option *ngIf="!isPinTaken(pinDetails.A0)" [value]="pinDetails.A0">A0</ion-select-option>
                </ion-select>
                <ion-select *ngIf="pin.name && pin.number != undefined" [(ngModel)]="pin.type" placeholder="Pin Type">
                    <ion-select-option *ngIf="pin.number === pinDetails.A0" [value]="pinType.analogRead">Analog Read
                    </ion-select-option>
                    <ion-select-option *ngIf="pin.number ===pinDetails.A0" [value]="pinType.analogWrite">Analog Write
                    </ion-select-option>
                    <ion-select-option *ngIf="pin.number !==pinDetails.A0" [value]="pinType.digitalRead">Digital Read
                    </ion-select-option>
                    <ion-select-option *ngIf="pin.number !==pinDetails.A0" [value]="pinType.digitalWrite">Digital Write
                    </ion-select-option>
                </ion-select>
                <ion-button (click)="board.pins.splice(j,1)" color="danger" expand="block">Delete Pin</ion-button>

            </div>
            <ion-button (click)="board.pins.push({})" [disabled]="board.pins.length===6" expand="block">Add Pin
            </ion-button>
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-button color="secondary" expand="block">Save</ion-button>
    </ion-grid>
</ion-content>