<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crawled
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="loadingState">
    <div *ngSwitchCase="'noHomes'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Add House</ion-card-subtitle>
          <ion-card-title>Press the add button below</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/home.jpg" />
          Your awesome home automation is just one step away
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'homes'">
      <div *ngIf="homes.length !==0">
        <div *ngFor="let home of homes">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{home.name | uppercase}}</ion-card-title>
            </ion-card-header>
            <ion-card-content
              >Created {{home.createdAt | fromNow}} <br />
              Updated {{home.updatedAt | fromNow}}
            </ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <!-- <ion-button
                    color="light"
                    [routerDirection]="'forward'"
                    [routerLink]="'/boards/cud/'+board.id"
                    expand="full"
                  >
                    Edit</ion-button
                  > -->
                </ion-col>
                <ion-col>
                  <!-- <ion-button
                    color="secondary"
                    [routerDirection]="'forward'"
                    [routerLink]="'/boards/read/'+board.id"
                    expand="full"
                  >
                    Read</ion-button
                  > -->
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      color="secondary"
      [routerDirection]="'forward'"
      [routerLink]="'/home/new'"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
