<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="welcome-card">
      <ion-img src="/assets/thief.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Motion Detector</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item [disabled]="motionSensorDisabled">
            <ion-toggle color="dark" (ionChange)="motionChanged()" [(ngModel)]="productStatus[0]"></ion-toggle>
            <ion-label>Enabled</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Last Movement</ion-label>
          </ion-item>
          <ion-item [routerDirection]="'forward'" [routerLink]="detailsRoute[0]">
            <ion-label>Details</ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>