<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{board.name}} {{pin}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-virtual-scroll [items]="storeData | orderBy:'timeStamp'">
            <ion-item *virtualItem="let item">
                <ion-row>
                    <ion-col>
                        <ion-chip *ngIf="item.state === state.high" color="danger">
                            <ion-label>High</ion-label>
                        </ion-chip>
                        <ion-chip *ngIf="item.state === state.low" color="primary">
                            <ion-label>Low</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col>
                        <ion-chip>{{item.timeStamp |fromNow }}</ion-chip>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-virtual-scroll>
    </ion-grid>
</ion-content>